# Configuration file

general {
    I:EntityBabySkeleton=1
    I:EntityBat=1
    I:EntityBlaze=1
    I:EntityBrainyZombie=1
    I:EntityCreeper=1
    I:EntityEnderman=1
    I:EntityLargeFireball=1
    I:EntityLlama=1
    I:EntityPossessableImpl_EntitySkeleton_5118049D=1
    I:EntityPossessableImpl_EntityZombie_33B05676=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntitySkeleton=1
    I:EntitySmallFireball=1
    I:EntitySpider=1
    I:EntitySquid=1
    I:EntityTippedArrow=1
    I:EntityWisp=1
    I:EntityZombie=1
    I:EntityZombieVillager=1
    I:"update Interval"=1000
}


